<ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>

          <ion-buttons slot="primary"  >                
                  <ion-icon slot="icon-only" name="more" text></ion-icon>              
              </ion-buttons>


              <ion-buttons slot="primary"  (click)="draw()">                
                |  A-B  |            
              </ion-buttons>

              <ion-buttons slot="primary"  (click)="recenter()">                
                |  RC  |            
              </ion-buttons>
              
              <ion-buttons slot="primary"  (click)="clicked()">                
                 | MM |             
              </ion-buttons>




          <ion-title>
            

            
            
          </ion-title>
        </ion-toolbar>

      
      </ion-header>
 


      <ion-content>
          <div #map  id="map">

          </div>
         
          
    </ion-content>